


<% layout("./layout/boilerplate.ejs")%>

<body>
    <form method="post" action="/listing/<%=form._id%>/?_method=put" class="container-sm form-size needs-validation" novalidate enctype="multipart/form-data"><br>

        <h3 style=" font-weight: 600;">Edit Your Listing</h3><br>

        <div class="new-form-div">
            <label for="title" class="form-label">Title</label>
            <input placeholder="Listing Title" name="title" value="<%=form.title%>" class="form-control" required>
            <div class="valid-feedback"> Title looks good!!</div>
            <div class="invalid-feedback">title is required</div>
        </div>

        <div class="new-form-div">
            <label for="description" class="form-label">Description</label>
            <textarea placeholder="add description...." name="description" class="form-control" required><%= form.description %></textarea>
            <div class="invalid-feedback"> Please enter short Description</div>
        </div>

        <div class="mb-2">
            <label  class="form-label">Previous Image</label><br>
            <img src="<%=editedPreviousImage%>" style="border-radius: 10px; width: 200px; height:200px;">
        </div>

        <div class="new-form-div">
            <label for="image" class="form-label">Upload New Image</label>
            <input  name="image"  class="form-control" type="file">
        </div>
         
        <div class="new-form-div">
            <label for="category">Select Category</label>
            <select class="form-select" id="category" name="category" aria-label="Default select example" value="<%= form.category%>">
                <option value="trending">Trending</option>
                <option value="rooms">Rooms</option>
                <option value="iconic cities">Iconic Cities</option>
                <option value="mountains">Mountains</option>
                <option value="castles">Castles</option>
                <option value="camping">Camping</option>
                <option value="farms">Farms</option>
            </select>
        </div>

        <div class="new-form-div">
            <label for="price" class="form-label">Price</label>
            <input placeholder="Enter Price" name="price" value="<%=form.price%>" class="form-control" required>
            <div class="invalid-feedback">  Price should be Valid</div>
        </div>

        <div class="new-form-div">
            <label for="location" class="form-label">Location</label>
            <input placeholder="location" name="location" value="<%=form.location%>" class="form-control" required>
            <div class="invalid-feedback">Location should be Valid</div>
        </div>

        <div class="new-form-div">
            <label for="country" class="form-label">Country</label>
            <input placeholder="Country" name="country" value="<%=form.country%>" class="form-control" required>
            <div class="invalid-feedback"> Country should be Valid</div>
        </div><br>


        <button class=" btn btn-danger">Submit</button>
        
    </form>
</body>
